	div#container{
		width: 480px;
		height: 200px;
		overflow: hidden;
		border: 8px solid transparent;
		box-shadow: 0px 0px 3px #606060;
		border-radius: 3px;
		position: relative;
	}
	div#container p{
		margin: 0px;
		z-index: 0;
		position: absolute;
		opacity: 0;
	}
	div#container p:first-child{
		opacity: 1;
		z-index: 1000;
	}
	div#links{
		position: absolute;
		bottom: 0;
		right: 0;
		margin-bottom: 6px;
		margin-right: 6px;
		z-index: 2000;
	}
	div#links a{
		background: #CEA524;
		color: white;
		border-radius: 20px;
		width: 10px;
		height: 10px;
		display: block;
		float: left;
		margin-right: 3px;
		text-indent: -9999px;
		box-shadow: inset 0px 1px 2px #8B6D20;
	}
	div#links a.colored{
		background: #7777CF;
		box-shadow: inset 0px 1px 2px #0F0C5C;
	}
	div.arrows{
		position: absolute;
		z-index: 2000;
	}
	div.arrows a{
		color: #FFF;
		width: 20px;
		height: 20px;
		display: block;
		border-radius: 10px;
		position: absolute;
		top: 90px;
		box-shadow: 0px 1px 3px black;
		text-indent: -9999px;
                
                /**
		* Outline fix for firefox
		* removes the dotted line which appears around the anchor tag when it is in focus
		*/
		outline: 0;
	}
	div.arrows a[id="left"]{
		left: 5px;
		background: #CEA524 url('../img/arrow-left.png') no-repeat scroll 5px;
	}
	div.arrows a[id="right"]{
		left: 455px;
		background: #CEA524 url('../img/arrow-right.png') no-repeat scroll 5px;
	}
